.biu-instance {
		font-size: 12px;
		width: 200px;
    height: 44px;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    line-height: 44px;
    right: -100px;
    padding-left: 5px; 
    position: fixed;
    background-color: #fff;
    text-align: left;
    border: 1px solid #e2e2e2;
    z-index: 99999;
    -webkit-transition: right .3s ease-in-out;
    -moz-transition: right .3s ease-in-out;
    transition: right .3s ease-in-out
}

.biu-content {
    display: inline-block
}

.biu-close {
    position: absolute;
   	top: 0px;
    right: 5px;
    cursor: pointer
}

.biu-shown {
    right: 0 !important
}
.biu-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6
}

.biu-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1
}

.biu-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc
}

.biu-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1
}
